/*
 Style Sheet for Popup Windows
*/
/* 
    Created on : 13 Aug 2018, 7:47:42 PM
    Author     : Kim
*/


.popup-panel-overlay
{
    background-color: rgb(225,225, 225,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.popup-panel
{
    margin: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #DDD;
}

